{% extends "base.html" %}

{% block head %}
    <title>index page</title>
{% endblock %}

{% block header %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Chaeyoung Jennifer Park (박채영)</h5>
                          <p class="card-text">Machine Learning programmer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Dong Chan Lee (이동찬)</h5>
                          <p class="card-text">Machine Learning programmer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Hanyong Flynn Lee (이한용)</h5>
                          <p class="card-text">Front-end programmer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Seungchan Peter Jung (정승찬)</h5>
                          <p class="card-text">Back-end programmer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Yeongbae Benny Yoon (윤영배)</h5>
                          <p class="card-text">Front-end programmer</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}