{% extends "base.html" %}

{% block head %}
    <title>index page</title>
{% endblock %}

{% block header %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="card" style="width: 20rem;">
                    <img src="{{url_for('static', filename='img/test.png')}}" class="card-img-top" alt="webcam image">
                    <div class="card-body">
                      <h5 class="card-title">Spaghetti Detecting...</h5>
                      <p class="card-text">[[Detection gauge image]]</p>
                      <a href="#" class="btn btn-primary">Stop printer</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}